{{!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Tech Blog</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>
</body>

</html> --}}


{{!-- Original temmplate from class reading....will use it for now an migrate to the above, which is the template later in the class material --}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
      <header class="hero">
          <div>
            <nav class"nav">
                    <a class="link" href="/">home</a>
                    <a class="link" href="/dashboard">dashboard</a>
                    {{#if loggedIn}}
                    <a class="link" href="/" id="logout">logout</a>
                    {{else}}
                    <a class="link" href="/login">login</a>
                    {{/if}}
                </nav>          
          </div>

          <h1 class="app-title"><i class="fab "></i>Tech Blog</h1>
      </header>

    <main>
      {{{ body }}}
    </main>
  </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

</body>

</html>