<form class ="login mx-4 my-5">
  <H4>Members Login</H4>
  <div class="form-group ">
    <label for="savedUsername">Username</label>
    <input type="username" class="form-control" id="savedUsername">
  </div>
  <div class="form-group">
    <label for="savedPassword">Password</label>
    <input type="password" class="form-control" id="savedPassword">
  </div>
  <button type="submit" class="btn btn-primary">login</button>
</form>

<form class ="signup mx-4 my-4">
<div class="form-group ">
    <h4>Sign-up</h4>
    <label for="signupUsername">Username</label>
    <input type="username" class="form-control" id="signupUsername">
  </div>
  <div class="form-group">
    <label for="signupPassword">Password</label>
    <input type="password" class="form-control" id="signupPassword">
  </div>
  <button type="submit" class="btn btn-primary">Signup</button>
</form>

<script src="/javascript/login.js"></script>