{{> card-info post }}

{{#if loggedIn}}
<form class =" comment-form mx-4 my-4">
  <div class="form-group">
    <textarea name ="comment-body"></textarea>
  </div>
  <button type="submit" class="btn btn-danger">add comment</button>
</form>
{{/if}}


{{#each post.comments}}
<div class="card text-black bg-default w-75 mx-4 my-4">
  <div class="card-body">
    <h5 class="card-title text-black">{{user.username}} on {{format_date created_at}}</h5>
    <p class="card-text text-black">{{comment_text}}</p>
  </div>
</div>
{{/each}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}